.profilepic, .profilepic img{width:200px; overflow:hidden; text-align:center; display:inline-block;}
.profilepic img{width:200px;}
.table-responsive .profilepic, .table-responsive .profilepic img{width:50px;}
.table-responsive .profilepic{height:50px; float:left;}
.table-responsive small{color:#999;}
.gridname{float:left; margin:15px 0 0 10px;}
.block{display:block;}